*{
    margin: 0;
    padding: o;
}

.main{
    width: 100vw;
    background: linear-gradient(to-top);
    background-image: url("1.png");
    /* background-color: rgb(120, 120, 123); */
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.navbar{
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color:rgb(204, 82, 11);
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    display: flex;
    column-gap: 30px;
    align-items: center;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left:62px;
    /* margin-top: 27px; */
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{ 
    color: rgb(63, 63, 66)
} 

.search{
    display: flex;
}

.srch{
    font-family : 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transpa;
    border: solid rgb(63, 63, 66);
    /* margin-top: 13px; */
    color: white;
    border-right: none;
    font-size: 16px;
    /* float: left; */
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background:  rgb(63, 63, 66);
    border: 2px solid  rgb(63, 63, 66);
    /* margin-top: 13px; */
    color:aliceblue;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;

}

.srch:focus{
    outline: none
}
